body {
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.6);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
	background: linear-gradient(to right, yellow, blue ); /* Standard syntax */
}

h1 {
    font: 600 4em 'Raleway', sans-serif;
    letter-spacing: .7em;
    width: 100%;
    padding-bottom: 10%;
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
    text-transform: none;
    letter-spacing: 0.01em;

}
